body {
  font: unquote("#{$font-size-med} / #{$line-height-small} #{$font-family-base}");
  background-color: $gray-dark;
  color: $white-base;
}

#main__site__content {
  padding-top: 70px;
}

@media (min-width: $screen-sm-min) {
  #main__site__content {
    margin-left: 210px;
  }
}

@media (max-width: $screen-xs-max) {
  #main__site__content {
    margin-left: 0;
  }

  #sidebar {
    display: none;
    margin-left: -275px;
  }
}

.action-login > #main__site__content {
  padding-top: 70px;
  margin-left: 0;
}
