.job-section {
  .search-group {
    max-width: 450px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    > .search {
      color: $white-base;
      background-color: $gray-dark;
      border-radius: $border-radius-large;
      border: inset 1px $white-base;
      &::placeholder {
        color: $gray-darker;
      }
      &:focus {
        border-color: $yellow-base;
        box-shadow: 0 0 6px rgb(255, 204, 0);
      }
      + label {
        display: block;
        color: $danger;
        margin: 5px 0 15px;
        text-align: center;
      }
    }
  }
  .table {
    tbody {
      > tr {
        transition: all .6s;
        &:hover {
          background-color: $black-background;
        }
        &:hover > .job-name > small {
          color: $gray-darker;
        }
      }
      .job-name {
        > a {
          color: $teal;
          transition: color .3s;
          &:hover, &:focus {
            color: $yellow-base;
            text-decoration: none;
          }
        }
        > small {
          transition: color .6s;
          color: $gray-dark;
        }
      }
      .job-progress {
        .progress {
          background-color: $gray-dark;
          > .progress-bar {
            padding: 0 5px;
            color: $white-base;
            background-color: $blue;
          }
        }
      }
      .job-status {
        .label-hold,
        .label-active {
          color: $white-base;
        }
        .label-active {
          background-color: $blue-lighter;
        }
        .label-hold {
          background-color: $danger;
        }
      }
    }
  }
  .panel {
    @extend .module;
    .panel-heading {
      margin: -6px -3px 10px;
      background-color: $teal;
      text-align: center;
      font-size: $font-size-large;
      border-tojob-left-radius: $border-radius-large;
      border-top-right-radius: $border-radius-large;
    }
    .panel-body {
      overflow-x: scroll; 
    }
  }
  .btn-group {
    display: flex;
  }
}
/*project list*/

.job-table th,
.job-table td {
  vertical-align: middle !important;
}


.job-team img {
  width: 35px;
  height:35px;
  border-radius: 4px;
}

.job-progress .progress {
  margin-bottom: 5px;
}

.job-name a {
  font-size:14px;
  /*font-weight:bold;*/
}

.bold {
  font-weight: bold;
}

.job-details .bio-row p span {
  width: auto;
}

.job-details .bio-row p span.bold {
  width: 100px;
}

.job-team a {
  display: inline-block;
}

.project-heading {
  font-size: 20px;
}

.mtop20 {
  margin-top: 20px;
}

.job-files li a {
  margin-bottom: 10px;
  color: #949494;
  display: block;
}

.job-files li i {
  padding-right: 10px;
  width: 20px;
}

.job-tag-list li {
  display: inline-block;
  margin:0 5px 7px 0;
}

.job-tag-list li a {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 3px 10px;
  color:#797979;
  border-radius: 4px;
  font-size:12px;
}

.job-tag-list li a:hover {
  background: #ff6c60;
  border-color: #ff6c60;
  color:#fff;
}

.m-thumb img {
  width: 100%;
  border:1px solid #ddd;
}