.job-section {
  .search-group {
    max-width: 450px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    > .search {
      color: $white-base;
      background-color: $gray-dark;
      border-radius: $border-radius-large;
      border: inset 1px $white-base;
      &::placeholder {
        color: $gray-darker;
      }
      &:focus {
        border-color: $yellow-base;
        box-shadow: 0 0 6px rgb(255, 204, 0);
      }
      + label {
        display: block;
        color: $danger;
        margin: 5px 0 15px;
        text-align: center;
      }
    }
  }
  .table {
    margin-bottom: 5px;
    tbody {
      > tr {
        transition: all .6s;
        &:hover {
          background-color: $black-background;
        }
        &:hover > .job-name > small {
          color: $gray-darker;
        }
        img {
          width: 40px;
          height: 40px;
        }
      }
      .job-name {
        > a {
          color: $teal;
          transition: color .3s;
          &:hover, &:focus {
            color: $yellow-base;
            text-decoration: none;
          }
        }
        > small {
          transition: color .6s;
          color: $gray-dark;
        }
      }
      .job-progress {
        .progress {
          background-color: $gray-dark;
          > .progress-bar {
            padding: 0 5px;
            color: $white-base;
            background-color: $blue;
          }
        }
      }
      .job-status {
        .label-hold,
        .label-active {
          color: $white-base;
        }
        .label-active {
          background-color: $blue-lighter;
        }
        .label-hold {
          background-color: $danger;
        }
      }
    }
  }
  .panel {
    @extend .module;
    .panel-heading {
      margin: -6px -3px 10px;
      background-color: $teal;
      text-align: center;
      font-size: $font-size-large;
      border-top-left-radius: $border-radius-large;
      border-top-right-radius: $border-radius-large;
    }
    .panel-body.jobs-table {
      overflow-x: scroll; 
    }
  }
  .btn-group {
    display: flex;
  }

  &.job-view-section {
    .bold {
      color: $gray-darker;
      font-weight: $font-weight-ultra-heavy;
    }
    .job-meta {
      .job-details {
        color: #89817e;
      }
      .job-row-wrapper {
        display: inline-block;
        width: 100%;
        min-height: 1px;
        vertical-align: middle;
      }
      .job-row {
        width: 50%;
        float: left;
        margin-bottom: 10px;
        padding: 0 15px;
        .label {
          color: $white-base;
          border-radius: 0;
          &.label-active {
            background-color: $success;
          }
          &.label-hold {
            background-color: $danger;
          }
        }
        a {
          color: $blue-lighter;
          &:hover, &:focus {
            color: $blue-light;
            text-decoration: none;
          }
        }
        span {
          > a > img, > img {
            width: 35px;
            height: 35px;
            margin: 0 5px; 
            border-radius: $border-radius-base;
          }
        }
        .job-team {
          > a {
            display: inline-block;
          }
        }
      }
      @media (max-width: $screen-sm-max) {
        .job-row {
          text-align: center;
          .bold {
            display: block;
            padding-bottom: 3px;
          }
        }
      }
      @media (min-width: $screen-md-min) {
        .job-row .bold + span {
          margin-right: 5px;
        }
      }
    }
    .job-table {
      tr {
        > th, > td {
          vertical-align: middle;
        }
        > td:not(.job-actions) {
          text-shadow: .5px 0 1px $gray-dark;
        }
        &.completed:hover {
          background-color: $success;
        }
        &.in-progress:hover {
          background-color: $info;
        }
        &.hold:hover {
          background-color: $warning;
        }
        &.canceled:hover {
          background-color: $danger;
        }
      }
      .job-label {
        color: $white-base;
        > .label {
          border-radius: 0;
        }
        > .label-completed {
          background-color: $success;
        }
        > .label-in-progress {
          background-color: $info;
        }
        > .label-hold {
          background-color: $warning;
        }
        > .label-canceled {
          background-color: $danger;
        }
      }
    }
  }
  .job-attachment-section {
    .bold {
      display: inline-block;
      margin-bottom: 5px;
    }
    .job-priority {
      ul {
        padding-left: 0;
        list-style-type: none;
        > li > i {
          color: $danger;
        }
      }
    }
    .job-files {
      li > a {
        display: inline-block;
        margin-bottom: 10px;
        color: $blue-lighter;
        > i {
          width: 20px;
          color: $gray-darken;
          padding-right: 10px;
        }
        &:hover, &:focus {
          color: $blue-light;
          text-decoration: none;
          > i {
            color: $gray-darker;
          }
        }
      }
    } // .job-files
  } // .job-attachment-section
  .grid figcaption {
    background-color: $black-background;
    top: auto;
  }
  .grid.cs-style-3 figcaption a {
    top: auto;
    bottom: 10px;
    right: 0;
    left: 0;
    width: 100px;
    margin: 0 auto;
    &:hover {
      text-decoration: none;
    }
  }
}
