<div class="panel" id="job-task-panel">
  <div class="panel-heading">
    Task Details
  </div> <!-- END .panel-heading -->
  <div class="panel-body">
    <div class="clearfix">
      <%= link_to ajax_path(soft: "ajax_load", hard: "jobs_job-tasks", replace: "job-task-panel"), class: "btn btn-yellow btn-block", remote: true do %>
      Back To View All Task
      <% end %>
    </div> <!-- END .clearfix -->
    <ul class="grid cs-style-3">
      <% 15.times do %>
        <li>
          <figure>
            <img src="/images/placeholder.png" alt="img04">
            <figcaption>
            <h3>Landscaping</h3>
              <span>
                <%= FFaker::Name.name %>
              </span>
              <a class="fancybox" rel="group" href="/images/placeholder.png">
                View Image
              </a>
            </figcaption>
          </figure>
        </li>
      <% end %> <!-- END erb li loop -->
    </ul> <!-- END .grid -->
  </div> <!-- END .panel-body -->
</div> <!-- END .panel -->
