.btn-yellow {
  background-color: $yellow-base;
  color: $black-base;
}

.btn-green {
  background-color: $success;
  color: $white-base;
  &:hover, &:focus {
    background-color: $success;
    color: $white-base;
  }
}
