.nav-sidebar {
  position: fixed;
  width: 210px;
  height: 100%;
  background-color: $black-background;

  ul li {
    position: relative;
    list-style-type: none;
  }

  .sidebar-menu {
    margin: -4px 0 0;
    padding: 0;
    border-right: 1px solid $black-base;
    &:first-child {
      margin-top: 60px;
      margin-bottom: 30px;
    }
    > li > a {
      color: $white-base;
      &.active,
      &:hover, &:focus {
        color: $yellow-base;
        background-color: $black-base;
        > i {
          color: $yellow-base;
          background-color: $black-base;
        }
      }
    }
    .sub-menu {
      > a {
        color: $white-base;
        &:hover, &:focus {
          color: $yellow-base;
          background-color: $black-base;
        }
      }
      > .active {
        color: $yellow-base;
        background-color: $black-base;
      }
    }
    > li > .sub > li > a {
      font-size: $font-size-small;
      padding: 6px 0;
      line-height: 35px;
      height: 35px;
      transition: all 0.3s ease;
      color: $white-base;
    }
    > li > .sub,
    > li > .sub > li > a {
      display: block;
      padding-left: 32px;
      &:hover, &:focus {
        color: $yellow-base;
        background-color: $black-base;
      }
    }
  }

  .sidebar-menu > li > .sub {
    margin: -4px 0 0;
    padding: 0;
    background-color: $black-base;
    &:first-child {
      margin: 60px 0 0;
    }
    > li {
      margin: 0;
      background-color: $black-base;
      &:last-child {
        padding-bottom: 10px;
        border-radius: 0 0 4px 4px;
      }
    }
  }

  .dcjq-icon {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 15px;
    height: 17px;
    width: 17px;
    border-radius: 3px;
    background: url("/images/nav-expand.png") no-repeat top;
  }

  .active > .dcjq-icon {
    background: url("/images/nav-expand.png") no-repeat bottom;
    border-radius: 3px;
  }

  .nav-collapse.collapse {
    display: inline;
  }
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
  color: $yellow-base;
  transition: all 0.3s ease;
  display: block;
}

ul.sidebar-menu li {
  margin-bottom: 5px;
  margin-left:10px;
  margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
  line-height: 15px;
}

ul.sidebar-menu li a span{
  display: inline-block;
}

ul.sidebar-menu li a{
  color: $white-base;
  text-decoration: none;
  display: block;
  padding: 15px 0 15px 10px;
  font-size: 12px;
  outline: none;
  transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
  background-color: $black-base;
  color: #fff;
  display: block;
  border-radius: 4px;
  transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
  font-size: 15px;
  padding-right: 6px;
}

@media (max-width: $screen-sm-min) {

  #sidebar {
    display: none;
  }
  .sidebar-close #sidebar {
    height: auto;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1001;
    display: block;
  }

  #sidebar > ul > li > a > span {
    line-height: 35px;
  }

  #sidebar > ul > li {
    margin: 0 10px 5px 10px;
  }
  #sidebar > ul > li > a {
    height:35px;
    line-height:35px;
    padding: 0 10px;
    text-align: left;
  }
  #sidebar ul > li > a .arrow, #sidebar > ul > li > a .arrow.open {
    margin-right: 10px;
    margin-top: 15px;
  }
  #sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow,
  #sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open{
    margin-top: 15px;
  }
  #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
    width: 100%;
  }
  #sidebar > ul > li > ul.sub > li > a {
    background: transparent !important ;
  }
  #sidebar {
    margin: 0px !important;
  }
  #sidebar .btn-navbar.collapsed .arrow {
    display: none;
  }
  #sidebar .btn-navbar .arrow {
    position: absolute;
    right: 35px;
    width: 0;
    height: 0;
    top:48px;
    border-bottom: 15px solid #282e36;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }
  .dcjq-icon {
    top: 10px;
  }
  ul.sidebar-menu li ul.sub li a {
    padding: 0;
  }
}
