<nav class="navbar navbar-dark navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <% 3.times do %>
          <span class="icon-bar"></span>
        <% end %>
      </button> <!-- END .navbar-toggle -->
      <i class="fa fa-bars toggle-sidebar" data-toggle="tooltip" data-placement="right" title="Close Sidebar"></i>
      <%= link_to :home, class: "navbar-brand" do %>
        Palm <span class="brand-yellow">Landscaping</span>
      <% end %>
    </div> <!-- END .navbar-header -->

    <div class="collapse navbar-collapse" id="main-navbar-collapse">
      <ul class="nav navbar-nav navbar-notif">
        <li class="dropdown dropdown-scrollable">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span class="badge">4</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <p>Messages</p>
            </li>
            <% 7.times do %>
              <li>
                <a href="javascript:;">
                  <span class="photo">
                    <img alt="avatar" src="<%= image_url "/images/avatar-#{Random.rand(1..4)}.png" %>">
                  </span>
                  <span class="subject">
                    <span class="from">Jonathan Smith</span>
                    <span class="time">Just now</span>
                  </span>
                  <span class="message">
                    Hello, this is an example msg.
                  </span>
                </a>
              </li>
            <% end %>
          </ul> <!-- END .dropdown-menu -->
        </li> <!-- END .dropdown -->
      </ul> <!-- END .navbar-nav -->

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="javascript:;" class="dropdown-toggle dropdown-img" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "profile-avatar.png" %>
            Jeff Hee <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a href="javascript:;">
                <i class="fa fa-envelope-o"></i>
                Message Center
              </a>
            </li>
            <li role="separator" class="divider">
              <%# Blank Space  %>
            </li>
            <li>
              <a href="javascript:;">
                <i class="fa fa-cog"></i>
                Settings
              </a>
            </li>
            <li>
              <%= link_to :root do %>
                <i class="fa fa-sign-out"></i>
                Sign Out
              <% end %>
            </li>
            <li role="separator" class="divider">
              <%# Blank Space  %>
            </li>
            <li>
              <a href="javascript:;">
                <i class="fa fa-info-circle"></i>
                Help
              </a>
            </li>
          </ul> <!-- END .dropdown-menu -->
        </li> <!-- END .dropdown -->
      </ul> <!-- END .navbar-right -->
    </div> <!-- END .navbar-collapse -->
  </div> <!-- END .container-fluid -->
</nav> <!-- END .navbar-dark -->
