<aside>
  <div id="sidebar"  class="nav-collapse nav-sidebar">
    <ul class="sidebar-menu" id="nav-accordion">
      <li>
        <a href="javascript:;">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-laptop"></i>
          <span>Layouts</span>
        </a>
        <ul class="sub">
          <li>
            <a  href="javascript:;">Boxed Page</a>
          </li>
          <li>
            <a  href="javascript:;">Horizontal Menu</a>
          </li>
          <li>
            <a  href="javascript:;">Mega Menu</a>
          </li>
          <li>
            <a  href="javascript:;">Language Switch Bar</a>
          </li>
          <li>
            <a  href="javascript:;">Email Template</a>
          </li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-book"></i>
          <span>UI Elements</span>
        </a>
        <ul class="sub">
          <li>
            <a href="javascript:;">General</a>
          </li>
          <li>
            <a href="javascript:;">Buttons</a>
          </li>
          <li>
            <a href="javascript:;">Widget</a>
          </li>
          <li>
            <a href="javascript:;">Slider</a>
          </li>
          <li>
            <a href="javascript:;">Nestable</a>
          </li>
          <li>
            <a href="javascript:;">Tree View</a>
          </li>
          <li>
            <a href="javascript:;">Font Awesome</a>
          </li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-cogs"></i>
          <span>Components</span>
        </a>
        <ul class="sub">
          <li><a  href="javascript:;">Grids</a></li>
          <li><a  href="javascript:;">Calendar</a></li>
          <li><a  href="javascript:;">Gallery</a></li>
          <li><a  href="javascript:;">Todo List</a></li>
          <li><a  href="javascript:;">Draggable Portlet</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;" >
          <i class="fa fa-tasks"></i>
          <span>Form Stuff</span>
        </a>
        <ul class="sub">
          <li>
            <a href="javascript:;">Form Components</a>
          </li>
          <li>
            <a href="javascript:;">Advanced Components</a>
          </li>
          <li>
            <a href="javascript:;">Form Wizard</a>
          </li>
          <li>
            <a href="javascript:;">Form Validation</a>
          </li>
          <li>
            <a href="javascript:;">Dropzone File Upload</a>
          </li>
          <li>
            <a href="javascript:;">Inline Editor</a>
          </li>
          <li>
            <a href="javascript:;">Image Cropping</a>
          </li>
          <li>
            <a href="javascript:;">Multiple File Upload</a>
          </li>
        </ul> <!-- END .sub -->
      </li> <!-- END .sub-menu -->
    </ul> <!-- END sidebar menu -->
  </div> <!-- END #sidebar -->
</aside> <!-- END sidebar -->
