<aside>
  <div id="sidebar"  class="nav-collapse nav-sidebar">
    <ul class="sidebar-menu" id="nav-accordion">
      <li>
        <a href="<%= url_for :home %>">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <li class="sub-menu">
        <a href="javascript:;" >
          <i class="fa fa-wrench"></i>
          <span>Jobs</span>
        </a>
        <ul class="sub">
          <li>
            <a href="javascript:;">View All</a>
          </li>
          <li>
            <a href="javascript:;">Completed Jobs</a>
          </li>
          <li>
            <a href="javascript:;">Uncompleted Jobs</a>
          </li>
          <li>
            <a href="javascript:;">New Jobs</a>
          </li>
        </ul> <!-- END .sub -->
      </li> <!-- END .sub-menu -->

      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-group"></i>
          <span>Customers</span>
        </a>
        <ul class="sub">
          <li>
            <%= link_to "View All", ajax_path(soft: "ajax_load", hard: "users_index"), remote: true %>
          </li>
          <li>
            <a  href="javascript:;">Quotes</a>
          </li>
          <li>
            <a  href="javascript:;">Message Center</a>
          </li>
          <li>
            <a  href="javascript:;">Email Campaign</a>
          </li>
          <li>
            <a href="javascript:;">Add New</a>
          </li>
          <li>
            <a  href="javascript:;">Settings</a>
          </li>
        </ul> <!-- END .sub -->
      </li> <!-- END .sub-menu -->

      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-truck"></i>
          <span>Sub Contractors</span>
        </a>
        <ul class="sub">
          <li>
            <a href="javascript:;">View All</a>
          </li>
          <li>
            <a href="javascript:;">Quotes</a>
          </li>
          <li>
            <a href="javascript:;">Payments</a>
          </li>
          <li>
            <a href="javascript:;">Message Center</a>
          </li>
          <li>
            <a href="javascript:;">Add New</a>
          </li>
          <li>
            <a href="javascript:;">Settings</a>
          </li>
        </ul> <!-- END .sub -->
      </li> <!-- END .sub-menu -->

      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-building-o"></i>
          <span>Employees</span>
        </a>
        <ul class="sub">
          <li>
            <a  href="javascript:;">View All</a>
          </li>
          <li>
            <a  href="javascript:;">Calendar</a>
          </li>
          <li>
            <a  href="javascript:;">Gallery</a>
          </li>
          <li>
            <a  href="javascript:;">Todo List</a>
          </li>
          <li>
            <a  href="javascript:;">Draggable Portlet</a>
          </li>
        </ul> <!-- END .sub -->
      </li> <!-- END .sub-menu -->
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-money"></i>
          <span>Accounting</span>
        </a>
        <ul class="sub">
          <li>
            <a href="javascript:;">Overview</a>
          </li>
          <li>
            <a href="javascript:;">Payables</a>
          </li>
          <li>
            <a href="javascript:;">Receivables</a>
          </li>
          <li>
            <a href="javascript:;">Create Invoice</a>
          </li>
          <li>
            <a href="javascript:;">Reports</a>
          </li>
          <li>
            <a href="javascript:;">Audit</a>
          </li>
          <li>
            <a href="javascript:;">Settings</a>
          </li>
        </ul> <!-- END .sub -->
      </li> <!-- END .sub-menu -->
    </ul> <!-- END sidebar menu -->
  </div> <!-- END #sidebar -->
</aside> <!-- END sidebar -->
